*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.li-navbar{
    display: inline;
    margin: 50PX;
}

.li-navbar:hover{
    color: rgb(192, 190, 190);
    font-size: 18px;
}

body{
    background-color: brown;
}