/* Reseta o estilo padrão */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Estilo do header */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.p-navparagrafo {
    font-size: 24px;
    font-weight: bold;
    font-family: cursive;
    margin: 10px;
}

ul {
    display: flex;
    list-style-type: none;
}

.li-navbar {
    margin: 0 50px;
    cursor: pointer;
    padding: 10px;
}

.li-navbar:hover {
    color: rgb(192, 190, 190);
    font-size: 18px;
}

.carousel-container {
  width: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 300px;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
}